* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
a {
  text-decoration: none;
}

html {
  height: 100%;
  font-size: 14px;
}

/* 
.App {
  background-color: pink;
}
body {
  height: 100%;
  background-color: pink;
} */
@media (prefers-reduced-motion: no-preference) {

.App-link {
  color: #61dafb;
}

}